! ------------------------------------------------------------------------------
! Colors
! ------------------------------------------------------------------------------
*secondary:                     #3a3a3a
*underline:                     #0094ce
*active:                        #aa0000
#include                        ".themes/colors/solarized"
#include                        ".themes/fonts/input"

! ------------------------------------------------------------------------------
! St
! ------------------------------------------------------------------------------
St.alpha:                       242

! ------------------------------------------------------------------------------
! URxvt
! ------------------------------------------------------------------------------
URxvt.scrollBar:                false
URxvt.visualBell:               false
URxvt.urgentOnBell:             false
URxvt.utf8:                     true
!URxvt.transparent:              true
!URxvt.shading:                  25
URxvt.cursorBlink:              true
URxvt.cursorUnderline:          true
URxvt.depth:                    32
URxvt.urxvt:                    screen-256color
URxvt.letterSpace:              -1
URxvt.intensityStyles:          false
!URxvt.inheritPixmap:            true
!URxvt.fading: 10
URxvt.colorUL:                  #fdf6e3
!URxvt.background:               [80]#000000

!! Extensions
URxvt.perl-ext-common:          solarized,matcher,resize-font,url-select,keyboard-select
!! url-select
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.url-select.launcher:      /usr/bin/xdg-open
URxvt.url-select.underline:     true
!! keyboard-select:
URxvt.keysym.M-Escape:          perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:      C-Down
URxvt.resize-font.bigger:       C-Up
!! Matcher
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.matcher.button:           1

! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcdsolarized
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

