[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/duncan/Desktop/start-tor-browser.desktop]
row=2
col=0

[/home/duncan/Desktop/TrueWoW.desktop]
row=3
col=0

[/home/duncan/Desktop/DalaranWoW.desktop]
row=4
col=0

[/home/duncan/Desktop/inscription.txt]
row=0
col=1

[/home/duncan/Desktop/dossier.txt]
row=1
col=0

[/home/duncan/Desktop/Warmane.desktop]
row=5
col=0

[Trash]
row=0
col=0

