[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/duncan/Desktop/DBM-3.3.5_Core-and-Vanilla-and-BC-and-WotLK-Mods]
row=0
col=0

[/home/duncan/Desktop/start-tor-browser.desktop]
row=5
col=0

[/home/duncan/Desktop/DBM-Party-BC]
row=1
col=0

[/home/duncan/Desktop/dossier.txt]
row=4
col=0

[/home/duncan/Desktop/Untitled]
row=2
col=0

[/home/duncan/Desktop/Blizzard App.desktop]
row=3
col=0

